/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #656774;
  background-color: #f5f9fe;
}

html {
  font-size: 10px;
}

.wrapper {
  max-width: 1920px;
  margin: 0px auto;
}

.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #2a73dd;
}

.btn--outlined {
  background: transparent;
  color: #2a73dd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn--outlined:hover {
  background: #2a73dd;
  color: #fff;
}

.btn--contained {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn--contained:hover {
  opacity: 0.75;
  color: #fff;
}

.btn--products {
  background-color: #f5f9fe;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03rem;
  font-size: 10px;
  font-weight: 600;
  color: #2a73dd;
  -webkit-box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
          box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn--products:hover {
  -webkit-box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
          box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #f5f9fe;
  -webkit-box-shadow: 0 2px 4px #e2ebfc;
          box-shadow: 0 2px 4px #e2ebfc;
  max-width: 1920px;
  z-index: 999;
}

.header__nav {
  padding: 7px 14px;
}

.header__nav .header__logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2a73dd;
}

.header__nav .navbar-toggler .navbar-toggler-icon {
  font-size: 2.2rem;
  line-height: 1.5em;
  color: #1d365e;
}

.header__nav-list .header__nav-item {
  padding: 25px;
}

.header__nav-list .header__nav-item a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1d365e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__nav-list .header__nav-item a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2a73dd;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 991.98px) {
  .header__nav-list .header__nav-item a {
    text-align: center;
  }
}

.header__nav-list .header__nav-item:hover a {
  color: #2a73dd;
}

.header__nav-list .header__nav-item:hover a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__nav-list .header__nav-item.active a {
  color: #2a73dd;
}

.header__nav-list .header__nav-item.active a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #2a73dd;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.banner {
  padding: 225px 0;
  background-image: url(../../images/product-header-bg.jpg);
  background-size: cover;
  background-position: center bottom;
}

@media only screen and (max-width: 991.98px) {
  .banner {
    padding: 150px 0;
  }
}

@media only screen and (max-width: 576px) {
  .banner {
    padding: 100px 0;
  }
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__container .banner__content .banner__title {
  font-size: 7rem;
  font-weight: 700;
  color: #2a73dd;
  margin-bottom: 7px;
}

@media only screen and (max-width: 768px) {
  .banner__container .banner__content .banner__title {
    font-size: 4.4rem;
  }
}

.banner__container .banner__content .banner__sub-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #1d365e;
  margin-bottom: 30px;
}

.banner__container .banner__content .banner__descriptions {
  font-size: 1.5rem;
  font-weight: 400;
  color: #656774;
  margin-bottom: 25px;
}

.banner__container .banner__image img {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .banner__container .banner__image img {
    display: none;
  }
}

.products {
  padding: 100px 0;
}

.products__title {
  margin-bottom: 70px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #1d365e;
}

.products__content .products__item {
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  background-color: #f5f9fe;
  border: none;
  padding: 30px;
  margin-bottom: 30px;
}

.products__content .products__item-img {
  -webkit-box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}

.products__content .products__item-title {
  font-size: 2rem;
  font-weight: 700;
  color: #1d365e;
  margin-bottom: 7px;
}

.products__content .products__item-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #1d365e;
  margin-bottom: 14px;
}

.products__content .products__item-rating {
  color: #f9d412;
}

.footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
  color: #fff;
}

.footer img {
  margin-bottom: 60px;
}

.footer__light {
  display: block;
}

.footer__dark {
  display: none;
}

.footer .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 7px 14px;
}

.footer .nav-link:hover {
  opacity: 0.75;
}
/*# sourceMappingURL=app.css.map */