.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #2a73dd;
}

.btn--outlined {
  background: transparent;
  color: $primary-main;
  transition: all 0.5s;
  &:hover {
    background: $primary-main;
    color: #fff;
  }
}

.btn--contained {
  background: linear-gradient(120deg, #60a4f4, $primary-main);
  color: #fff;
  transition: all 0.5s;
  &:hover {
    opacity: 0.75;
  }
}
