body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #656774;
  background-color: $bg-gray;
}

html {
  font-size: 10px; // 1rem = 10px
}

.wrapper {
  max-width: 1920px;
  margin: 0px auto;
}

// .container {
//   max-width: 1140px;
//   margin: 0px auto;
// }
